/* General styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f6f6f6;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

/* Add ingredient form */
#ingredient-menu {
  margin-bottom: 1em;
}

.open-button {
  background-color: #3b7d61;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
}

.form-popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.form-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 20px;
}

.form-container h1 {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 10px;
  color: #555;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
  color: #333;
}

button#saveNewIngredient {
  background-color: #3b7d61;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
}

/* Ingredients list */
.ingredients_content {
  margin-top: 20px;
}

#ingredients-header {
  margin-bottom: 10px;
}

.ingredients-rows {
  width: 100%;
  border-collapse: collapse;
}

.ingredients-rows th,
.ingredients-rows td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.ingredients-rows th {
  background-color: #f2f2f2;
}

/* Custom styling */
.container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.open-button,
button#saveNewIngredient {
  background-color: #3b7d61;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
}


.form-container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
}

.ingredients-rows th {
  background-color: #f2f2f2;
}

