@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}


header {
    display: flex;
    justify-content: center;
}

header h1 { 
    color: black; 
    font-family: 'Raleway',sans-serif; 
    font-size: 62px; 
    font-weight: 600; 
    line-height: 72px; 
    margin: 10px; 
    text-align: center; 
    padding: 0;
}
    
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    background-color: hsla(216, 100%, 99%, 0.74);
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    margin: 0.5rem;
    width: 300px;
}

.movie img {
    width: 100%;
}


.movie-data {
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}


.movie-data h4 {
    margin: 0;
}

.movie-data span {
    background-color: #22254b;
    border-radius: 3px;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
}

.overview {
    background-color: #fff;
    padding: 2rem;
    position: absolute;
    max-height: 100%;
    overflow: auto;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(101%);
    transition: transform 0.5s ease-in;

}

.overview button{
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 8px 16px 10px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  display: flex;
  justify-content: center;  
  margin-top: 10px;
}

.overview button:after {
  content: "";
  background-color: lightblue;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.overview button:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .overview button {
    padding: 13px 50px 13px;
  }
}

.overview h5 {
    margin-top: 0;
}

.movie:hover .overview {
    transform: translateY(0);
}

