body {
  font-family: sans-serif;
}

.navbar {
  background-color: #3b7d61;
}

.navbar-brand {
  font-weight: bold;
  color: #fff;
}

.navbar-nav .nav-link {
  color: #fff;
}

.navbar-nav .nav-link:hover {
  color: #ddd1d1;
}

#content {
  margin-top: 20px;
}

/* Custom styling for the navigation menu */
#menu-not-logged-in,
#menu-logged-in {
  padding: 10px;
  border-radius: 5px;
}

#menu-logged-in {
  display: none;
}

/* Table styling */
.recipeLine-rows {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.recipeLine-rows th,
.recipeLine-rows td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.recipeLine-rows th {
  background-color: #f2f2f2;
}

.recipeLine-rows tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.recipeLine-rows tbody tr:hover {
  background-color: #7a7676;
}
